<h1>Edit Simulation</h1>
<%= form_with model: @simulation, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :parameters %><br>
    <%= form.text_area :parameters %>
  </p>
  <p>
    <%= form.label :result %><br>
    <%= form.text_field :result %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', simulations_path %>
