<h1><%= @simulation.name %></h1>
<p>Parameters: <%= @simulation.parameters %></p>
<p>Result: <%= @simulation.result %></p>
<%= link_to 'Edit', edit_simulation_path(@simulation) %>
<%= link_to 'Back', simulations_path %>
