<h1><%= @property.name %></h1>
<p>Location: <%= @property.location %></p>
<p>Price: <%= @property.price %></p>
<%= link_to 'Edit', edit_property_path(@property) %>
<%= link_to 'Back', properties_path %>
