<h1><%= @request.title %></h1>
<p>Description: <%= @request.description %></p>
<p>Status: <%= @request.status %></p>
<%= link_to 'Edit', edit_request_path(@request) %>
<%= link_to 'Back', requests_path %>
