<h1><%= @work_item.title %></h1>
<p>Description: <%= @work_item.description %></p>
<p>Status: <%= @work_item.status %></p>
<%= link_to 'Edit', edit_work_path(@work_item) %>
<%= link_to 'Back', work_index_path %>
