<h1><%= @referral.name %></h1>
<p>Email: <%= @referral.email %></p>
<p>Message: <%= @referral.message %></p>
<%= link_to 'Edit', edit_referral_path(@referral) %>
<%= link_to 'Back', referrals_path %>
